<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>476876685113-9hku06eh5c8ssa59df3im4uqo8qubnnf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.476876685113-9hku06eh5c8ssa59df3im4uqo8qubnnf</string>
	<key>API_KEY</key>
	<string>AIzaSyAFHrNQ1iGaR8jSVBrAVaDcgKWxJ3JmUys</string>
	<key>GCM_SENDER_ID</key>
	<string>476876685113</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mustaxe.avantto</string>
	<key>PROJECT_ID</key>
	<string>avantto-221d1</string>
	<key>STORAGE_BUCKET</key>
	<string>avantto-221d1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:476876685113:ios:1ae4a24a55d5a132</string>
	<key>DATABASE_URL</key>
	<string>https://avantto-221d1.firebaseio.com</string>
</dict>
</plist>